# Node modules
node_modules/

# Compilación TypeScript
dist/
build/
out/

# Archivos temporales de esbuild
main.js
*.js.map
*.cjs
*.mjs

*.log
*.tsbuildinfo

.env
.env.local
.env.*.local

.vscode/
.idea/

pnpm-lock.yaml